//
//  Secret.xcconfig
//  PrographyAssignment
//
//  Created by 김영현 on 1/31/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

UNSPLASH_ACCESS_KEY = 5VMATGBfOyLLu08lP5REobK8m1aF7bHQBY00WkQDLw8
UNSPLASH_SECRET_KEY = zvX_1IJavye9OB8dGRg6GBMFQ9Las5EwiH23RNNlxJk
